body{
  background-color: gainsboro;
}

@media (max-width: 1536px) {
  #llegar {
    margin-top: 100px;
  }

  #escudo {
    float: right;
    width: 7%;
  }

  #redes {
    z-index: 999;
    position: fixed;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
  }

  #facebook {
    width: 50px;
    margin-right: 10px;
  }
}

@media (max-width: 1920px) {
  h1 {
    text-align: center;
    background-color: rgb(33, 31, 150);
    color: white;
  }

  #content {
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
  }

  .foto {
    position: absolute;
  }

  #imgs {
    position: relative;
    width: 38%;
    height: 320px;
    margin-left: 30%;
  }

  #imag {
    width: 100%;
    display: block;
    margin: auto;
    background-color: white;
  }

  #logins {
    font-family: Helvetica Neue;
  }

  iframe {
    display: block;
    margin: auto;
  }

  #escudo {
    height: 40%;
    float: right;
    width: 7%;
  }

  #facebook {
    width: 50px;
    margin-right: 10px;
  }

  #redes {
    z-index: 999;
    position: fixed;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
  }

  #historia {
    /* width: 1500px; */
    width: 100%;
    height: 100%;
    margin-top: 10px;
    margin-bottom: 30px;
  }

  #novedades {
    margin-top: 7px;
  }

  p {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 450px) {
  h1 {
    text-align: center;
    background-color: rgb(33, 31, 150);
    color: white;
  }

  #content {
    background-color: white;
  }

  .foto {
    position: absolute;
  }

  #imgs {
    position: relative;
    width: 65%;
    height: 350px;
    margin-left: 160px;
  }

  #imag {
    width: 100%;
    display: block;
    margin: auto;
    background-color: white;
  }

  #logins {
    font-family: Helvetica Neue;
  }

  iframe {
    display: block;
    margin: auto;
  }

  #escudo {
    height: 40%;
    float: right;
    width: 7%;
  }

  #facebook {
    display: none;
  }

  #redes {
    z-index: 999;
    position: fixed;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
  }

  #historia {
    /* width: 1500px; */
    width: 100%;
    height: 100%;
    margin-top: 10px;
    margin-bottom: 30px;
  }

  #novedades {
    margin-top: 7px;
  }

  p {
    margin-left: 20px;
  }
}