@media (max-width: 1563px) {
  #log {
    margin-left: 650px;
    margin-right: 300px;
    margin-top: 100px;
  }
  #dni {
    width: 50%;
  }
  #paswd {
    width: 50%;
  }
  #Cancelar {
    margin-left: 135px;
  }
  h1 {
    margin-top: 90px;
    margin-bottom: 40px;
  }
}

@media (max-width: 1920px) {
  #log {
    margin-left: 700px;
    margin-right: 300px;
    margin-top: 100px;
  }
  #dni {
    width: 40%;
  }
  #paswd {
    width: 40%;
  }
  #Cancelar {
    margin-left: 220px;
  }
  h1 {
    margin-top: 90px;
    margin-bottom: 40px;
  }

  p {
    margin-top: 30px;
  }
}