.table {
    box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    border-radius: 0.5rem;
    font-size:0.8rem;
}


.table-xs td, .table-xs th{
    padding: 0.15rem;
    font-size:0.8rem;
}

.table thead {
    position:sticky;
    top:0;
    z-index:10;
    background-color: #482bea;
    color: white;
    position: sticky;
    top: 0;
    z-index: 10;
    text-shadow: 1px 1px black;
}

.table thead th{
    border-top: 1px solid #482bea !important;
    border-bottom: 1px solid #482bea !important;
}

.table td > button, .dropdown > button {
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
}

.table tbody {
    color: #303030;
}

.table tbody tr {
    border-bottom: 1px solid #dee2e6;
}

.table tbody tr:nth-child(odd) {
    background-color: #ffffff24;
}

.table tbody tr:nth-child(even) {
    background-color: #b0b0b024;
}


.table .celdaFija {
    width: 1%;
    white-space:nowrap;
    vertical-align:middle;
}

.table .celdaVariable {
    vertical-align:middle;
}

